{
  "env": {
      "es2020": true,
      "node": true
  },
  "root": true,
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "extends": [
      "airbnb-typescript/base"
  ],
  "plugins": [
      "react",
      "eslint-plugin-import",
      "eslint-plugin-import-helpers"
  ],
  "globals": {
      "FormData": false,
      "__DEV__": false,
      "__STAGE__": false,
      "__PROD__": false,
      "test": false,
      "expect": false
  },
  "settings": {
      "import/resolver": {
          "typescript": {}
      },
      "react": {
          "version": "detect"
      }
  },
  "rules": {
      "no-console": [
          "error",
          {
              "allow": [
                  "warn",
                  "info"
              ]
          }
      ],
      "no-underscore-dangle": [
          "error",
          {
              "allow": [
                  "__DEV__",
                  "__STAGE__",
                  "__PROD__"
              ]
          }
      ],
      "max-len": [
          "warn",
          120
      ],
      "no-lonely-if": "off",
      "padded-blocks": [
          "error",
          {
              "classes": "always"
          }
      ],
      "arrow-body-style": "off",
      "arrow-parens": [
          "warn",
          "as-needed"
      ],
      "class-methods-use-this": "off",
      "no-useless-constructor": "off",
      "lines-between-class-members": [
          "error",
          "always",
          {
              "exceptAfterSingleLine": true
          }
      ],
      "no-multiple-empty-lines": [
          2,
          {
              "max": 1
          }
      ],
      "prefer-default-export": "off",
      "import/prefer-default-export": "off",
      "import/extensions": "off",
      "import-helpers/order-imports": [
          "warn",
          {
              "newlinesBetween": "always",
              "groups": [
                  [
                      "/^react$/",
                      "/^react-dom$/"
                  ],
                  "module",
                  "/^~/",
                  [
                      "parent",
                      "sibling",
                      "index"
                  ]
              ],
              "alphabetize": {
                  "order": "asc",
                  "ignoreCase": true
              }
          }
      ],
      "import/no-extraneous-dependencies": [
          0
      ],
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "react/require-default-props": "off",
      "react/static-property-placement": "off",
      "react/prop-types": "off",
      "react/forbid-prop-types": "off",
      "react/no-string-refs": "warn",
      "react/no-multi-comp": "off",
      "react/no-unused-state": "warn",
      "react/no-typos": "off",
      "react/state-in-constructor": "off",
      "react/destructuring-assignment": "off",
      "react/jsx-filename-extension": [
          "error",
          {
              "extensions": [
                  ".js",
                  ".jsx",
                  ".tsx"
              ]
          }
      ],
      "react/jsx-indent": [
          "error",
          4
      ],
      "react/jsx-indent-props": [
          "error",
          4
      ],
      "react/jsx-one-expression-per-line": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-no-bind": [
          "warn",
          {
              "ignoreDOMComponents": false,
              "ignoreRefs": false,
              "allowArrowFunctions": false,
              "allowFunctions": false,
              "allowBind": false
          }
      ],
      "@typescript-eslint/lines-between-class-members": [
          "error",
          "always",
          {
              "exceptAfterSingleLine": true,
              "exceptAfterOverload": true
          }
      ],
      "@typescript-eslint/no-unused-vars": [
          "error",
          {
              "args": "none"
          }
      ],
      "@typescript-eslint/indent": [
          "error",
          4,
          {
              "SwitchCase": 1
          }
      ],
      "@typescript-eslint/type-annotation-spacing": [
          "error",
          {
              "after": true
          }
      ]
  }
}
